.subscribeButton {
  padding: 1.25rem 3.5rem;
  border-radius: 2rem;
  border: 0;

  font-size: 1.25rem;
  font-weight: bold;
  color: var(--gray-900);

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--yellow-500);
  transition: filter 0.2s ease-out;

  &:hover {
    filter: brightness(0.8);
  }
} 